* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  overflow-x: scroll;
  margin-block: 0;
  margin-inline: 0;
}

img {
  display: block;
}

.container {
  width: 1440px;
  margin-inline: auto;
}

header {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.header-functions {
  margin-top: 26px;
}

.header-a1 {
  color: #46A358;
  text-decoration-color: white;
  transition: text-decoration-color 0.3s linear;
}

.header-a1:hover {
  text-decoration-color: #46A358;
}

.header-a3 {
  margin-left: 55px;
  display: inline-block;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a3:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.header-a {
  margin-left: 50px;
  display: inline-block;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.header-a2 {
  margin-left: 47px;
  display: inline-block;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a2:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.main-a {
  width: max-content;
  display: flex;
  margin-left: 261px;
}

.search {
  display: inline-block;
  transition: color 0.3s linear;
}

.search:hover {
  color: #46A358;
}

.login {
  display: flex;
  padding-block: 0px;
  padding-inline: 17px;
  border: none;
  background-color: #46A358;
  border-radius: 6px;
  height: 50px; 
  padding-top: 0; 
  display: flex; 
  text-decoration-line: none; 
  color: white; 
  margin-top: 10px;
  margin-left: 30px ;
}

.login-img {
  margin-top: 15px;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section1 {
  width: 1440px;
  margin-inline: auto;
  background-color: rgba(245, 245, 245, 0.50);
}

.section1-ul1 {
  display: flex;
  justify-content: space-between;
}

.section1-li1 {
  list-style-type: none;
}

.greeting-p {
  color: #3D3D3D;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-top: 68px;
  margin-left: 43px;
  margin-bottom: 0;
}

.shopping {
  display: inline-block;
  margin-top: 44px;
  margin-left: 44px;
  padding-block: 10px;
  padding-inline: 27px;
  background-color: #46A358;
  text-decoration-line: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
}

.section1-li2 {
  list-style-type: none;
  position: relative;
}

.section1-li2-img {
  position: absolute;
  top: 345px;
  left: px;
}

.section2 {
  margin-top: 46px;
}

.selection {
  display: flex;
}

.selection-btn1 {
  margin-left: 617px;
  color: #46A358;
  font-size: 15px;
  font-weight: 400;
  text-decoration-color: white;
  transition: font-weight 0.9s linear, text-decoration-color 0.3 linear, color 0.3s linear;
}

.selection-btn1:hover {
  font-weight: 700;
  color: #46A358;
  text-decoration-color: #46A358;
}

.selection-btn2 {
  margin-left: 37px;
  color: #3D3D3D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-decoration-color: white;
  transition: color 0.3s linear, text-decoration-color 0.3s linear;
}

.selection-btn2:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.section3 {
  display: flex;
}

.sale-img {
  margin-left: -28px;
  margin-top: 660px;
}

.products {
  margin-top: 69px;
  margin-left: 256px;
  display: flex;
  flex-wrap: wrap;
} 

.product {
  width: 252px;
  list-style-type: none;
}

.product-introduction {
  text-decoration-line: none;
}

.text-for-product {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  margin-block: 0;
  margin-top: 31px;
}

.price {
  color: #46A358;
  font-size: 18px;
  font-weight: 700;
  margin-block: 0;
  margin-top: 6px;
}

.product1 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
}

.product-introduction {
  position: relative;
  text-decoration-line: none;
}

.text-for-product {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  margin-block: 0;
  margin-top: 31px;
}

.price {
  color: #46A358;
  font-size: 18px;
  font-weight: 700;
  margin-block: 0;
  margin-top: 6px;
}

.product3 {
  width: 252px;
  list-style-type: none;
  margin-top: -0px;
}

.product-introduction {
  text-decoration-line: none;
}

.text-for-product {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  margin-block: 0;
  margin-top: 31px;
}

.price {
  color: #46A358;
  font-size: 18px;
  font-weight: 700;
  margin-block: 0;
  margin-top: 6px;
}

.product2 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
}

.product4 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
  margin-top: 40px;
}

.product5 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
  margin-top: 40px;
}

.product6 {
  width: 252px;
  list-style-type: none;
  margin-top: 40px;
}

.product7 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
  margin-top: 40px;
}

.product8 {
  width: 252px;
  list-style-type: none;
  margin-left: 23px;
  margin-top: 40px;
}

.our-blog {
  width: 1202px;
  margin-inline: auto;
}

.blog-title {
  color: #3D3D3D;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.blog-title-p {
  color: #727272;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.our_blog-items {
  display: flex;
  justify-content: space-between;
}

.our_blog-item1 {
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.our_blog-item1-p1 {
  color: #46A358;   
  font-size: 14px;
  font-weight: 500;
}

.our_blog-item2 {
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}