* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  overflow-x: scroll;
  margin-block: 0;
  margin-inline: 0;
}

img {
  display: block;
}

.container {
  width: 1440px;
  margin-inline: auto;
}

header {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.header-functions {
  margin-top: 26px;
}

.header-a1 {
  color: #3D3D3D;
  text-decoration-color: white;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s linear, text-decoration-color 0.3s linear;
}

.header-a1:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.header-a3 {
  margin-left: 55px;
  display: inline-block;
  color: #46A358;
  font-size: 16px;
  font-weight: 400;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a3:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.header-a {
  margin-left: 50px;
  display: inline-block;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.header-a2 {
  margin-left: 47px;
  display: inline-block;
  color: #3D3D3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-color: white;
  transition: color 0.4s linear, text-decoration-color 0.3s linear;
}

.header-a2:hover {
  color: #46A358;
  text-decoration-color: #46A358;
}

.main-a {
  width: max-content;
  display: flex;
  margin-left: 261px;
}

.search {
  display: inline-block;
  transition: color 0.3s linear;
}

.search:hover {
  color: #46A358;
}

.login {
  display: flex;
  padding-block: 0px;
  padding-inline: 17px;
  border: none;
  background-color: #46A358;
  border-radius: 6px;
  height: 50px; 
  padding-top: 0; 
  display: flex; 
  text-decoration-line: none; 
  color: white; 
  margin-top: 10px;
  margin-left: 30px ;
}

.login-img {
  margin-top: 15px;
}

main {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}

.section1 {
  width: 1440px;
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  background-color: #FBFBFB;
  padding: 10px;
}

.title-of-product {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.title {
  color: #3D3D3D;
  font-size: 28px;
  font-weight: 700;
  margin-block: 0;
}

.price-of-product {
  display: inline-block;
  color: #46A358;
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
}

.section2 {
  width: 1440px;
  margin-inline: auto;
  margin-top: 94px;
}

footer {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.footer-start {
  width: 1440px;
  display: flex;
  background-color:#FBFBFB;
  padding: 25px;
}

.footer-start_joining {
  margin-left: 160px;
}

.footer-medium {
  width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 27px;
  padding-left: 23px;
  padding-right: 30px;
  background-color: rgba(70, 163, 88, 0.10);
}

.footer-end {
  width: 1440px;
  display: flex;
  padding: 23px;
  background-color: #FBFBFB;
}

.footer-functions {
  width: 1396px;
  display: flex;
  justify-content: space-between;
}

.footer-function1 {
  width: 100px;
  list-style-type: none;
}

.footer-function2 {
  width: 137px;
  list-style-type: none;
}

.footer-function3 {
  width: 93px;
  list-style-type: none;
}

.footer-function4 {
  width: 224px;
  list-style-type: none;
  margin-left: -10px;
}

.footer-function1-a {
  display: inline-block;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  text-decoration-color: white;
  transition: color 0.3s linear, text-decoration-color 0.3s linear;
}

.footer-function1-a:hover {
  text-decoration-color: #46A358;
  color: #46A358;
}

.footer-function1-a1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #46A358;
  border-radius: 6px;
  text-decoration-line: none;
  align-items: center;
  margin-left: 2px;
  transition: scale 0.3s linear;
}

.footer-function1-a1:hover {
  scale: 1.3;
}

.footer-function1-a1-img {
  display: flex;
  margin-inline: auto;
  margin-top: 7px;
}

.footer-function1-a2-img {
  display: flex;
  margin-inline: auto;
  margin-top: 6px;
}

.footer-function1-a3-img {
  display: flex;
  margin-inline: auto;
  margin-top: 6px;
}

.footer-function1-a4-img {
  display: flex;
  margin-inline: auto;
  margin-top: 6px;
}

.footer-function1-a5-img {
  display: flex;
  margin-inline: auto;
  margin-top: 8px;
}